<form (ngSubmit)="login()" [formGroup]="loginForm">
  <mat-card fxFlex="400px" fxFlex.xs="300px">
    <mat-card-title fxLayoutAlign="center">Log In</mat-card-title>
    <br />
    <mat-card-content fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input matInput formControlName="username" />
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Login</button>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <!-- <a mat-button [routerLink]="['/auth/register']">Register now!</a> -->
      <!-- <a mat-button [routerLink]="['/auth/forgot-password']"
        >Forgot password?</a
      > -->
    </div>
  </mat-card>
</form>
