<form [formGroup]="requestForm">
  <mat-card fxFlex="400px" fxFlex.xs="300px">
    <mat-card-title fxLayoutAlign="center">Forgot Password</mat-card-title>
    <br />
    <mat-card-content fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input matInput formControlName="userName" />
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="resetPassword()">
        Reset Password
      </button>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <a mat-button [routerLink]="['/auth/login']">Log In</a>
      <!-- <a mat-button [routerLink]="['/auth/register']">Register now!</a> -->
    </div>
  </mat-card>
</form>
