<div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
      </div>
      <mat-card-title class="color-gray text-light"
        >Import Period</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        fxLayoutGap="20px grid"
      >
        <mat-form-field appearance="outline" fxFlex fxFlexFill>
          <mat-label
            >Quarter&nbsp;<span class="required-text">*</span></mat-label
          >
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex fxFlexFill>
          <mat-label>Year&nbsp;<span class="required-text">*</span></mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex fxFlexFill>
          <mat-label
            >Quantity of Cases&nbsp;<span class="required-text"
              >*</span
            ></mat-label
          >
          <input matInput />
        </mat-form-field>
      </div>
    </mat-card-content>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutAlign="end"
      fxLayoutGap="20px"
    >
      <button
        mat-raised-button
        color="primary"
        (click)="showImport = !showImport"
      >
        CALCULATE
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="showImport">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
      </div>
      <mat-card-title class="color-gray text-light"
        >Case Categories</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="center"
        fxLayoutGap="20px"
      >
        <table fxFlex="50" style="border: 1px solid #ddd">
          <thead>
            <th>head1</th>
            <th>head2</th>
            <th>head3</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            <tr>
              <td>10</td>
              <td>11</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>
        <table fxFlex="50" style="border: 1px solid #ddd">
          <thead>
            <th>head1</th>
            <th>head2</th>
            <th>head3</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            <tr>
              <td>10</td>
              <td>11</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutAlign="end"
      fxLayoutGap="20px"
    >
      <button mat-button>RESET</button>
      <button mat-raised-button color="primary">IMPORT</button>
    </div>
  </mat-card>
</div>
