@import 'styles-variables';
@import '~@angular/material/theming';

html,
body {
  height: 100%;
  background-color: $body-color;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

mat-sidenav-content {
  background-color: $body-color;
}

mat-toolbar {
  background-color: $body-color !important;
}

.color-gray {
  color: $color-gray;
}

.text-light {
  font-weight: lighter;
}

mat-sidenav {
  background: $main-color;
  background: linear-gradient(
      0deg,
      rgba($main-color, 0.5) 0%,
      rgb(255, 255, 255, 0.5) 100%
    ),
    url('assets/images/wic.png') no-repeat bottom;
}

.mat-card-avatar {
  background-color: $main-color;
  background: linear-gradient(60deg, $soft-main-color, $main-color);
  padding: 10px;
  margin-top: -35px;
  border-radius: 4px !important;
  @include mat-elevation(4);
}

.mat-card-avatar > .mat-icon {
  color: white;
  margin: 10px 0 0 10px;
}

.mat-card-header {
  margin: 0px 0px 20px 0px;
}

.mat-icon.fas {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.mat-card {
  margin-bottom: 50px;
}

.mat-card:not([class*='mat-elevation-z']) {
  @include mat-elevation(2, $elevation-color, 0.5);
}

table {
  width: 100%;
}

.background-highlight {
  background: rgb($main-color, 0.3);
}

.mat-form-field {
  padding-bottom: 0px !important;
}

.required-text {
  color: red;
}

mat-tree {
  button:hover {
    background: rgba($color: black, $alpha: 0.1);
  }
  mat-tree-node button.active {
    color: white;
    background-color: rgba($color: $main-color, $alpha: 0.5);
    @include mat-elevation(2, $elevation-color, 0.1);
  }
  mat-nested-tree-node[aria-expanded='true'] {
    div button {
      background-color: rgba($color: $elevation-color, $alpha: 0.1);
    }
  }
}
